body{
    display: flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}

h1{
    margin:0;
    padding:0;
    margin:10px;
    margin-left: 40px;
}

h2{
    margin:0;
    padding:0;
}

h3{
    margin: 0;
    padding: 0;

    
}

svg{
    pointer-events: none;
}

label{
    font-weight: 500;
}

input, select{
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    height: 1.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-size: small;
}

textarea{
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    height: 6rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    padding: 0.5rem;
    margin-bottom: 10px;

}



input:focus{
    border-color: blue;
}

form{
    width: 80%;
}

.form{
    display: flex;
    flex-direction: column;
}



.sidebar{

    display: flex;
    flex-direction: column;
    align-items: center;

    flex:0.25;
    background-color: #1E1E2F;
    min-width: 300px;
    padding-top: 15px;

    overflow: auto;
   
}

.sidebar--header{
    color:whitesmoke;
}

.main--header{
    color:whitesmoke;
}

.project--button{
    flex:3;
    height: 2rem;
    border:none;
    margin:1rem;
    padding:0.5rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: #1E1E2F;
    color: whitesmoke;
}

.project--button:hover{
    filter: brightness(85%);
}

#add--project--modal{
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

#add--project--form{
    display: flex;
    flex-direction: column;
}

.add--project--button{
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: 2rem;
    border: 1px solid black;
    margin:1rem;
    padding:0.5rem;
    border-radius: 5px;

}

.add--project--button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.add--project--button:active{
    background-color: rgba(0,0,0, 0.2);
}

.add--project--button svg{
    margin:0;
    padding:0;
    width: 1rem;
    height: 1rem;
    color: black;
}

.project--div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:90%
}

.delete--project--button{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete--project--button svg{
    height: 1rem;
    width: 1rem;
}

.modal{

    width: 500px;
    height: 500px;
    border: none;
}



.modal.show{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.modal--buttons{
    display: flex;
}

.modal--button{

    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
    height: 2rem;
    width: 4rem;
}

.modal--button:hover{
    filter: brightness(85%);
}

.modal--button:active{
    filter: brightness(60%);
}

.button--green{
    background-color: #28a928ef;
}

.button--red{
    background-color: #C22710;    
}

::backdrop{
    background-color: rgba(0,0,0, 0.5);
}

.active{
    filter: brightness(65%);
}

.main{

    display: flex;
    flex-direction: column;

    flex:1;
    background-image: url('./images/black-felt.png'), linear-gradient(to bottom, #121212 0%, #1C1C2E 50%, #24243F 100%);;
    background-repeat: repeat;

}


.todo--container{

    display: grid;

    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows: 350px;
    gap:20px;

    padding:20px;

}

.todo--modal{
    border-radius: 20px;
    width: 500px;
    height: 400px;
}

.add--todo--button{
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid black;

}

.add--todo--button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.add--todo--button:active{
    background-color: rgba(0,0,0, 0.2);
}

.add--todo--button svg{
    width: 4rem;
    height: 4rem;
    color: black;
}

.todo{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightblue;

   
    height: 350px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.highlight{
    border: 5px solid green;
}

.todo--header, .todo--footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.todo--description{
    flex: 1;
    overflow: auto;
    padding: 20px;
}



.todo--ellipsis--menu--button{
    border: none;
    background: lightblue;
    width: 50px;
    cursor: pointer;

}

.todo--ellipsis--menu--button:hover{
    filter: brightness(85%);
}

.todo--ellipsis--menu{
    position: absolute; /* dropdown is positioned relative to .todo */
    bottom: 330px; /* adjust as needed to appear below the button */
    left: 250px; /* align to the right of the todo item */
    display: none; /* hidden by default */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 100;
    padding: 5px;
}

.todo--ellipsis--menu.show{
    display:flex;
    flex-direction: column;
}

.todo--button--container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card--description{

    padding:20px;
    overflow: auto;   
}

.dropdown--button{
    border: none;
    border-radius: 2px;
    margin:2px;
}
