body{
    display: flex;
    margin:0;
    padding:0;
    min-height: 100vh;
}

h1{
    margin:0;
    padding:0;
    margin:10px;
    margin-left: 40px;
}

h3{
    margin: 0;
    padding: 0;

    padding-left: 20px;
    padding-top: 20px;
}



.sidebar{

    display: flex;
    flex-direction: column;
    align-items: center;

    flex:0.25;
    background-color: lightgreen;
    min-width: 300px;

    overflow: auto;
    
}

.project--button{
    width: 80%;
    border:none;
    margin:1rem;
    padding:0.5rem;
    border-radius: 5px;
}

.active{
    background-color: lightcoral;
}

.main{

    display: flex;
    flex-direction: column;

    flex:1;
    background-color: orange;
}



.todo--container{

    display: grid;

    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows: 350px;
    gap:20px;

    padding:20px;

}

.add--todo--button{
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid black;

}

.add--todo--button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.add--todo--button:active{
    background-color: rgba(0,0,0, 0.2);
}

.add--todo--button svg{
    width: 4rem;
    height: 4rem;
    color: black;
}

.todo{

    display: flex;
    flex-direction: column;
    background-color: lightblue;

   
    height: 350px;
    width: 350px;
}

.card--description{

    padding:20px;
    overflow: auto;   
}

.edit--button{
    background-color: lightpink;
}

.delete--button{
    background-color: lightseagreen;
}